<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap Core CSS -->
    <link href="bootstrap-style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bootstrap-style/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="bootstrap-style/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora|Poppins&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="bootstrap-style/css/stylish-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/index.css">

  </head>

  <body>

    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1>Schoodle</h1>
        <p>The Easiest Way To Schedule Your Next Event</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#create">Create Event</a>
      </div>
    </header>

    <section class="content-section bg-light" id="create">
      <div class="container text-center">
          <form action="/event/add" method='POST'>
            <label for="title" required>
              Title
              <input type="text" name='title'>
            </label>
            <label for="description">
                Description
                <input type="text" name='description'>
            </label>
            <label for="duration">
                Duration
                <input type="text" name='duration'>
            </label>
            <label for="name">
                Name
                <input type="text" name='name'>
            </label>
            <label for="title">
                Email
                <input type="email" name='email'>
            </label>
            <button type='submit' class="btn btn-xl btn-dark">Select Dates</button>
          </form>
      </div>
    </section>

  </body>
  <script type="text/javascript" src="bootstrap-style/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</html>
