<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Your Event Meeting Time
    </h1>
  </header>
  <main>
    <!-- Use EJS to enter date and availability count -->
    <p>1 Fri, 07 Feb 2020</p>
    <p>0 Fri, 07 Feb 2020</p>
    <p>2 Fri, 07 Feb 2020</p>

  </main>

</body>
</html>
