<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Select Preferred Availability
    </h1>
  </header>
  <main>
    <form action="/poll" METHOD='POST'>
      <input type="radio" name='d1' value = 1>
      <input type="radio" name='d1' value = 0>
      <!-- Use EJS to enter date into label -->
      <label for="d1"> Fri, 07 Feb 2020</label>
      <input type="radio" name='d2' value = 1>
      <input type="radio" name='d2' value = 0>
        <!-- Use EJS to enter date into label -->
      <label for="d2"> Fri, 08 Feb 2020</label>
      <input type="radio" name='d3' value = 1>
      <input type="radio" name='d3' value = 0>
        <!-- Use EJS to enter date into label -->
      <label for="d3"> Fri, 09 Feb 2020</label>
      <button type="submit"></button>
    </form>

    <form action="">
      <label for="name">
        Enter Name:
        <input type="text" name='name'>
        <button type='submit'>Submit</button>
      </label>
    </form>
  </main>

</body>
</html>
