@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$font-stack:'Poppins', san-serif;
$nav-image: linear-gradient(45deg, #FEE140 0%, #FA709A 100%);
$light-blue: rgb(20, 187, 187);
$dark-blue: #1D809F;
$mid-gray: #6c757de0;
$light-gray:hsl(0, 14%, 95%);
$dark-gray: #2C3E50;
$background-image: url('../background/inspiration-geometry.png');
