@import 'base';

#create-event{
  background-color: white;
  display: block;
  box-shadow: 0 0 5px 5px lightgray;
}

p{
  font-size: 1.15rem;
}

#create{
  background-color: #f8f9fa!important;
  background-image: $background-image;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  border-top-left-radius: 50px 25px;
  border-top-right-radius: 50px 25px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

p{
  margin-bottom: 1rem;
}

label{
  display: block;
  margin: 2rem;
}

input, select{
  width: 350px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: ridge;
  background-color: white;
}

.container{
  /* border: 5px solid #B727FB; */
  padding: 2rem;
}

main{
  background-image: linear-gradient(225deg, #FEE140 0%, #FA709A 100%);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

@media screen and (min-width: 600px){

  input, select{
    width: 450px;
  }
}
