@import 'base';

nav {
  background-image: $nav-image;
  display: block;
  padding: 2rem;
  color: white;
  position: sticky;
  top:0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

h1{
  border-bottom: 5px dotted orange;
  display: inline-block;
  padding: 1rem;
}

h3{
  font-family: $font-stack;
}

nav h2{
  margin-top: .5rem;
}
#availabilty, #result, #display {
  background-color: white;
  display: inline-block;
  padding: 10rem;
  box-shadow: 0 0 5px 5px lightgray;
}

h5{
  font-weight: 500;
}

nav p {
  margin-top: .5rem;
}

main{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

body, main{
  background-image: $background-image !important;
}

.checked {
  display: inline;
}

h1{
  margin-bottom: 2rem;
  font-family: $font-stack;
}


label{
  padding-right: 2rem;
}

button{
  background-color: $light-blue !important;
  border-color: $light-blue !important;
}

ul {
  list-style-type: none;
}

input[type='radio']{
  padding: 1rem;
}

input[type='radio']:checked:after{
  background-color: $light-blue;
}


#updateSection {
  display: none;
}

#updateSection.visable {
  display: block;

}
input[type='text'], input[type='email'] {
  margin: auto;
  margin-bottom: 1.5rem;
  display: block;
  width: 300px;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: ridge;
}
