@import 'base';

nav {
  background-image: $nav-image;
  display: block;
  padding: 2rem;
  color: white;
  position: sticky;
  top:0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

input[type='radio']{
  background-color: orange;
}


#updateSection {
  display: none;
}

#updateSection.visable {
  display: block;

}
